<div id="index-banner" class="section no-pad-bot">
  <div class="container"><br/><br/>
    <h1 class="header center orange-text">Smarter way to recharge</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern approach to keep your mobile recharged all the time.</h5>
    </div>
    <div class="row center"><a id="download-button" routerLink="/login" class="btn-large waves-effect waves-light orange">Login</a></div><br/><br/>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">phone_iphone</i></h2>
          <h5 class="center">Recharge Mobiles/DTH</h5>
          <p class="light">
            Recharge your mobile, DTH service at anytime from anywhere
            just in a few steps.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">payment</i></h2>
          <h5 class="center">Pay Bills</h5>
          <p class="light">Pay your other bill payments such as Gas, Credit cards etc..</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">history</i></h2>
          <h5 class="center">Keep Track of history</h5>
          <p class="light">Allways keep track of your payment history.</p>
        </div>
      </div>
    </div>
  </div>
</div>
