<div class="row">

  <div *ngIf="status=='success'" class="center-align success-card">
    <i class="material-icons">check_circle</i>
    <h4>Success</h4><br/>
  </div>

  <form *ngIf="status!=='success'" class="col s4 push-s4" (submit)="signup()">
    <div class="card-panel">
      <div class="row">
        <div class="input-field">
          <input id="fullname" type="text" name="fullname" [(ngModel)]="model.fullname" class="validate" required/>
          <label for="fullname">Full name</label>
        </div>
        <div class="input-field">
          <input id="email" type="text" name="email" [(ngModel)]="model.email" class="validate" required/>
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input id="mobile" type="text" name="mobile" [(ngModel)]="model.mobile" class="validate"/>
          <label for="mobile">Mobile number</label>
        </div>
        <div class="input-field">
          <input id="password" type="password" name="password" [(ngModel)]="model.password" class="validate" required/>
          <label for="password">Password</label>
        </div><button type="submit" class="waves-effect waves-light btn">Signup</button>
      </div>

      <div *ngIf="status=='error'" class="signup-error">
        User exists!!
      </div>
    </div>
  </form>
</div>
